.container{
    margin-bottom: 100px;
}
.color-bg{
    background-color: #fcecea;
    border-radius: 15px;
}
.price{
    color:#FF136F
}
.carousel-item{
    margin: 20px 40px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
