.container{
    margin-bottom: 100px;
}
.color-bg{
    background-color: #fcecea;
    border-radius: 15px;
}
.price{
    color:#FF136F
}
.carousel-item{
    margin: 20px 40px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.cat1, .cat2, .cat3{
    padding:10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: rgb(250, 133, 37);
}
.cat2{
    background-color: rgb(245, 72, 167);
}
.cat3{
    background-color: rgb(24, 24, 248);
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 90px;
}